
  /* Encabezado con fondo azul */
  .header {
    background-color: #3B82F6; /* Azul */
    text-align: center;
    padding: 15px;
    border-radius: 0 0 20px 20px;
  }
  
  .header h1 {
    color: white;
    font-size: 1.8em;
    font-weight: bold;
  }
  
  /* Subtítulo de viajes realizados */
  .subheader {
    margin-top: 20px;
    text-align: left;
    padding: 0 15px;
  }
  
  .subheader h2 {
    font-size: 1.4em;
    color: #3B82F6;
    font-weight: bold;
  }
  
  /* Estilo de la lista de viajes realizados */
  .trip-list {
    padding: 10px;
  }
  
  .trip-card {
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .trip-card p {
    margin: 5px 0;
    font-size: 0.95em;
    color: white;
  }
  
  .trip-card p strong {
    color: #FF0000; /* Color rojo para resaltar la información */
  }
  
  .travel-button {
    border-radius: 10px;
    font-size: 1.1em;
  }