<ion-content [fullscreen]="true">
  <ion-content>
    <!-- Encabezado con el título -->
    <div class="header">
      <h1>TE LLEVO!</h1>
    </div>
  
    <!-- Sección del perfil del usuario -->
    <div class="profile-section">
      <img src="../../../assets/servicio-al-cliente.png" alt="Avatar" class="avatar">
      <div class="user-info">
        <h2>{{ nombreUsuario }} {{ apellidoUsuario }}</h2>
      </div>
    </div>
  
    <!-- Opciones de edición e información del vehículo -->
    <div class="option-list">
      <div class="option-item">
        <p>EDITAR INFORMACION</p>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
      <div class="option-item">
        <p>MI VEHICULO</p>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>
  
    <!-- Enlaces para cerrar sesión y cambiar tipo de cuenta -->
    <div class="footer-links">
      <ion-button class="change-account-btn" expand="block" fill="outline" [routerLink]="['/tipocuenta']">
        <ion-icon name="swap-horizontal-outline" slot="start"></ion-icon>
        Cambiar tipo de cuenta
      </ion-button>
      
      <ion-button class="logout-btn" expand="block" color="danger" (click)="logout()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        Cerrar sesión
      </ion-button>
    </div>
  </ion-content>  
</ion-content>