<ion-content [fullscreen]="true">
  <div class="header">
    <h1>INFORMACIÓN VEHÍCULO</h1>
  </div>

  <div class="signup-form">
    <form (ngSubmit)="agregarVehiculo()">
      <ion-list>
        <!-- Campo Patente Vehículo -->
        <ion-item class="input-field">
          <ion-input 
            [(ngModel)]="vehiculo.patente" 
            name="patente"
            type="text" 
            placeholder="Patente Vehículo">
          </ion-input>
        </ion-item>

        <!-- Campo Marca -->
        <ion-item class="input-field">
          <ion-input 
            [(ngModel)]="vehiculo.marca" 
            name="marca"
            type="text" 
            placeholder="Marca">
          </ion-input>
        </ion-item>

        <!-- Campo Modelo -->
        <ion-item class="input-field">
          <ion-input 
            [(ngModel)]="vehiculo.modelo" 
            name="modelo"
            type="text" 
            placeholder="Modelo">
          </ion-input>
        </ion-item>

        <!-- Campo Color -->
        <ion-item class="input-field">
          <ion-input 
            [(ngModel)]="vehiculo.color" 
            name="color"
            type="text" 
            placeholder="Color">
          </ion-input>
        </ion-item>
      </ion-list>

      <!-- Botón de agregar vehículo -->
      <ion-button 
        type="submit" 
        expand="block" 
        class="signup-button">
        Agregar Vehículo
      </ion-button>
    </form>
  </div>
</ion-content>
